$prefix: '.justice';
$primary-ui-color: #EEBF49;
$main-ui-color: rgb(241, 250, 195);
$bg-color: rgb(28, 28, 34);
$label-bg-color: rgb(30, 38, 40);

#{$prefix} {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $bg-color;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: monospace;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: 2147483647;

  @media(min-width: 1235px) {
    padding-bottom: 10px;
  }

  $metric-height: 40px;
  $metric-width: 150px;

  #{$prefix}-metric-wrap {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  #{$prefix}-metric {
    height: $metric-height;
    color: $main-ui-color;
    display: inline-block;
    display: flex;
    align-items: center;
    margin: 10px 2em 0 0;

    &.chart {
      width: $metric-width * 2;
    }
  }

  #{$prefix}-title {
    text-transform: uppercase;
    padding: 3px 0.5em 3px 3px;
    color: rgb(223, 223, 223);
  }

  #{$prefix}-text {
    color: rgb(65, 155, 163);
  }


}

